<%= form_for(park) do |f| %>
  <% if park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% park.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">Basic Information</h3>
</div>
<div class="box-body">
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :parkname %>
    <%= f.text_field :parkname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :parkwebsite %>
    <%= f.text_field :parkwebsite, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :parkhours %>
    <%= f.text_field :parkhours, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :parkaddress %>
    <%= f.text_field :parkaddress, class: 'form-control' %>
  </div>
</div>

<div class="col-md-6">
  <%= f.fields_for :park_office do |parkOffice_form| %>
    <div class="form-group">
      <%= parkOffice_form.label :officeaddress %>
      <%= parkOffice_form.text_field :officeaddress, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= parkOffice_form.label :officehours %>
      <%= parkOffice_form.text_field :officehours, class: 'form-control', placeholder:"hh:mmAM - hh:mmPM", data: {mask: '99:99aa - 99:99aa'} %>
    </div>

    <div class="form-group">
      <%= parkOffice_form.label :officeemail %>
      <%= parkOffice_form.email_field :officeemail, class: 'form-control', placeholder:"someone@example.com" %>
    </div>

    <div class="form-group">
      <%= parkOffice_form.label :officephone%>
      <%= parkOffice_form.text_field :officephone, class: 'form-control', placeholder:"(999) 999-9999" ,data: {mask: '(999) 999-9999'} %>
    </div>

    <div class="form-group">
      <%= parkOffice_form.label :parkhasentrancefee %>
      <%= parkOffice_form.check_box :parkhasentrancefee %>
    </div>
  <% end %>
</div>
</div>
</div>
</div>

<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">Sports</h3>
</div>
<div class="box-body">
<div class="row">
  <%= f.fields_for :sport do |sport_form| %>
<div class="col-md-3">
    <div class="form-group">
      <%= sport_form.check_box :baseball %>
      <%= sport_form.label :baseball %>
    </div>

    <div class="form-group">
      <%= sport_form.check_box :basketball %>
      <%= sport_form.label :basketball %>
    </div>
    <div class="form-group">
      <%= sport_form.check_box :lacrosse %>
      <%= sport_form.label :lacrosse %>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
      <%= sport_form.check_box :tennis %>
      <%= sport_form.label :tennis %>
    </div>

    <div class="form-group">
      <%= sport_form.check_box :soccer %>
      <%= sport_form.label :soccer %>
    </div>

    <div class="form-group">
      <%= sport_form.check_box :volleyball %>
      <%= sport_form.label :volleyball %>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
      <%= sport_form.check_box :football %>
      <%= sport_form.label :football %>
    </div>

    <div class="form-group">
      <%= sport_form.check_box :frisbee %>
      <%= sport_form.label :frisbee %>
    </div>

    <div class="form-group">
      <%= sport_form.check_box :golf %>
      <%= sport_form.label :golf %>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
      <%= sport_form.check_box :cricket %>
      <%= sport_form.label :cricket %>
    </div>

    <div class="form-group">
      <%= sport_form.check_box :track %>
      <%= sport_form.label :track %>
    </div>
</div>
  <% end %>
</div>
</div>
</div>


<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">Nature</h3>
</div>
<div class="box-body">
<div class="row">
  <%= f.fields_for :nature do |nature_form| %>
<div class="col-md-3">
  <div class="form-group">
    <%= nature_form.check_box :hiking %>
    <%= nature_form.label :hiking %>
  </div>
  <div class="form-group">
    <%= nature_form.check_box :biking %>
    <%= nature_form.label :biking %>
  </div>
  <div class="form-group">
    <%= nature_form.check_box :dronefield %>
    <%= nature_form.label :dronefield %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= nature_form.check_box :garden %>
    <%= nature_form.label :garden %>
  </div>
  <div class="form-group">
    <%= nature_form.check_box :greenhouse %>
    <%= nature_form.label :greenhouse %>
  </div>
  <div class="form-group">
    <%= nature_form.check_box :camping %>
    <%= nature_form.label :camping %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= nature_form.check_box :dogpark %>
    <%= nature_form.label :dogpark %>
  </div>
  <div class="form-group">
    <%= nature_form.check_box :lake %>
    <%= nature_form.label :lake %>
  </div>
  <div class="form-group">
    <%= nature_form.check_box :fishing %>
    <%= nature_form.label :fishing %>
  </div>
</div>
  <% end %>
</div>
</div>
</div>

<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">Facilities</h3>
</div>
<div class="box-body">
<div class="row">
  <%= f.fields_for :facility do |facility_form| %>
  <div class="col-md-3">
  <div class="form-group">
    <%= facility_form.check_box :playground %>
    <%= facility_form.label :playground %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :picnicshelter %>
    <%= facility_form.label :picnicshelter %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :picnicarea %>
    <%= facility_form.label :picnicarea %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :grill %>
    <%= facility_form.label :grill %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= facility_form.check_box :excerciseequipment %>
    <%= facility_form.label :excerciseequipment %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :stage %>
    <%= facility_form.label :stage %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :recycling %>
    <%= facility_form.label :recycling %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :compost %>
    <%= facility_form.label :compost %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= facility_form.check_box :restroom %>
    <%= facility_form.label :restroom %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :bikeparking %>
    <%= facility_form.label :bikeparking %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :parking %>
    <%= facility_form.label :parking %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :food %>
    <%= facility_form.label :food %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= facility_form.check_box :boathouse %>
    <%= facility_form.label :boathouse %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :skateboarding %>
    <%= facility_form.label :skateboarding %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :iceskating %>
    <%= facility_form.label :iceskating %>
  </div>

  <div class="form-group">
    <%= facility_form.check_box :tetherball %>
    <%= facility_form.label :tetherball %>
  </div>
</div>
  <% end %>
</div>
</div>
</div>

  <div class="actions">
    <% if park.new_record? %>
    <%= f.submit 'Create Park Entry' , class: "btn btn-success"%>
    <% else %>
    <%= f.submit 'Update Park Entry' , class: "btn btn-success"%>
    <% end %>
  </div>
<% end %>
