<%= stylesheet_link_tag "parks", media:"all", "data-turbolinks-track"=> true%>
<%= javascript_include_tag "parks", "data-turbolinks-track"=> true%>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ParksDB</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="col-sm-6 col-md-6 pull-left">
				<form class="navbar-form" role="search">
					<div style="display:table;" class="input-group">
						<input type="text" autofocus="autofocus" autocomplete="off" placeholder="City, State or ZIP" name="search" style="" class="form-control">
						<span style="width: 1%;" class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</form>
			</div>

			<div class="col-sm-3 col-md-3 pull-right">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</div>
			
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container-fluid">

	<div class="col-sm-12 col-md-7 pull-left">
		<div id="map"></div>
		<script>
			//create empty LatLngBounds object
			function initMap() {
				var LakeWashington = {lat: 47.623, lng: -122.260};
				var bounds = new google.maps.LatLngBounds();
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 11,
				  center: LakeWashington
				});
				<% @parks.each do |park| %>
				addMarker(map, bounds, <%= park.lattitude %>, <%= park.longitude %>, 'park<%= park.id %>', '<%= park_path(park) %>');
				<% end %>
				
				<% if @parks.count < 2 %>
					map.setZoom (16);
					map.setCenter(bounds.getCenter())
				<% else %>
					map.fitBounds(bounds);
				<% end %>
			}

			
		</script>
	</div>
	<div class="col-md-5 sidebar">
		<h3>Search Results</h3>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse1">Filters</a>
				  </h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
				  <div class="panel-body">
					<div class="col-md-4">
						<h4>Sports</h4>
						<div class="checkbox"><label><input type="checkbox" value="">Basketball</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Baseball</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Lacrosse</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Tennis</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Soccer</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Volleyball</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Football</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Frisbee</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Golf</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Cricket</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Track</label></div>
					</div>
					<div class="col-md-4">
						<h4>Facilities</h4>
						<div class="checkbox"><label><input type="checkbox" value="">Playground</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Picnic Shelter</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Picnic Area</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Grill</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Excercise Equipment</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Stage</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Recycling</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Compost</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Restrooms</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Bike Parking</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Car Parking</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Food</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Boathouse</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Skate Board Park</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Ice Skating Rink</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Tetherball</label></div>
					</div>
					<div class="col-md-4">
						<h4>Nature</h4>
						<div class="checkbox"><label><input type="checkbox" value="">Hiking Trails</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Bike Trails</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Drone Field</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Garden</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Greenhouse</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Camping</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Dog Area</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Lake</label></div>
						<div class="checkbox"><label><input type="checkbox" value="">Fishing</label></div>
					</div>
				  </div>
				  <!-- <div class="panel-footer">Panel Footer</div> -->
				</div>
			</div>
		</div>
		<% if @parks.count > 0 %>
		<div class="scrollableTable">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Park Name</th>
						<th>Address</th>
						<th>Hours</th>
					</tr>
				</thead>
				<tbody data-link="row" class="rowlink">
				<% @parks.each do |park| %>
					<tr id="park<%= park.id %>">
						<td><a href="<%= park_path(park) %>"><%= park.parkName %></a></td>
						<td><%= park.parkAddress%></td>
						<td><%= park.parkHours%></td>
					</tr>
				<% end %> <!-- end @parks.each do |park| -->
				</tbody>
			</table>
		</div>
		<% end %> <!-- end if @parks.count > 0 -->
		<!-- <ul class="nav nav-sidebar">
			<% @parks.each do |park| %>
			<li id="park<%= park.id %>"><a href="<%= park_path(park) %>"><%=park.parkName%></a></li>
			<% end %>
		</ul> -->
	</div>

</div><!-- /.container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSaQmP0Ff65kmrv1iYc6O7Pq5SY5eclc&callback=initMap"></script>