<%= stylesheet_link_tag "parks", media:"all", "data-turbolinks-track"=> true%>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ParksDB</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="col-sm-6 col-md-6 pull-left">
				<form class="navbar-form" role="search">
					<div style="display:table;" class="input-group">
						<input type="text" autofocus="autofocus" autocomplete="off" placeholder="City, State or ZIP" name="search" style="" class="form-control">
						<span style="width: 1%;" class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</form>
			</div>

			<div class="col-sm-3 col-md-3 pull-right">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</div>
			
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

	<div class="col-sm-12 col-md-8 pull-left">
		<div class="filters pre-scrollable">
			<label class="checkbox-inline"><input type="checkbox" value="">Baseball</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Basketball</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Cricket</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Football</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Frisbee</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Golf</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Lacrosse</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Soccer</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Tennis</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Track</label>
			<label class="checkbox-inline"><input type="checkbox" value="">Volleyball</label>
		</div>
		<div id="map"></div>
		<script>
			//create empty LatLngBounds object
			function initMap() {
				var LakeWashington = {lat: 47.623, lng: -122.260};
				var bounds = new google.maps.LatLngBounds();
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 11,
				  center: LakeWashington
				});
				<% @parks.each do |park| %>
				addMarker(map, bounds, <%= park.lattitude %>, <%= park.longitude %>, 'park<%= park.id %>', '<%= park_path(park) %>');
				<% end %>
				map.fitBounds(bounds);
			}

			function addMarker(resultsMap, mapBounds, parkLat, parkLong, parkID, parkWebpage) {
				var markerLocation = {lat: parkLat, lng: parkLong};
				var marker = new google.maps.Marker({
					map: resultsMap,
					position: markerLocation
				});

				//extend the bounds to include each marker's position
				mapBounds.extend(marker.position);

				marker.addListener('click', function() {
					window.open(parkWebpage, "_self");
				});

				marker.addListener('mouseover', function(){
					$("li#"+parkID).addClass('highlightedPark');
				});

				marker.addListener('mouseout', function(){
					 $("li#"+parkID).removeClass('highlightedPark');
				});
			}
		</script>
	</div>
	<div class="col-md-4 sidebar">
		<h3>Search Results</h3>
		<% if @parks.count > 0 %>
		<table class="table table-striped table-bordered table-hover">
			<thead>
			    <tr>
				    <th>Park Name</th>
				    <th>Address</th>
				    <th>Hours</th>
			    </tr>
		  	</thead>
		  	<tbody data-link="row" class="rowlink">
		  	<% @parks.each do |park| %>
			    <tr id="park<%= park.id %>">
				    <td><a href="<%= park_path(park) %>"><%= park.parkName %></a></td>
				    <td><%= park.parkAddress%></td>
				    <td><%= park.parkHours%></td>
			    </tr>
			<% end %> <!-- end @parks.each do |park| -->
			</tbody>
		</table>
		<% end %> <!-- end if @parks.count > 0 -->
		<!-- <ul class="nav nav-sidebar">
			<% @parks.each do |park| %>
			<li id="park<%= park.id %>"><a href="<%= park_path(park) %>"><%=park.parkName%></a></li>
			<% end %>
		</ul> -->
	</div>

</div><!-- /.container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSaQmP0Ff65kmrv1iYc6O7Pq5SY5eclc&callback=initMap"></script>