<%= stylesheet_link_tag "parks", media:"all", "data-turbolinks-track"=> true%>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ParksDB</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="col-sm-6 col-md-6 pull-left">
				<form class="navbar-form" role="search">
					<div style="display:table;" class="input-group">
						<input type="text" autofocus="autofocus" autocomplete="off" placeholder="City, State or ZIP" name="search" style="" class="form-control">
						<span style="width: 1%;" class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</form>
			</div>

			<div class="col-sm-3 col-md-3 pull-right">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</div>
			
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

	<div class="col-sm-12 col-md-9 pull-left">
		<div id="map"></div>
		<script>
			function initMap() {
				var LakeWashington = {lat: 47.623, lng: -122.260};
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 11,
				  center: LakeWashington
				});
				var geocoder = new google.maps.Geocoder();
				<% @parks.each do |park| %>
				geocodeAddress(geocoder, map, '<%= park.parkAddress %>', '<%= park_path(park) %>', 'park<%= park.id %>');
				<% end %>
			}

			function geocodeAddress(geocoder, resultsMap, address, webpage, parkID) {
				geocoder.geocode({'address': address}, function(results, status) {
				  if (status === 'OK') {
					// resultsMap.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
					  map: resultsMap,
					  position: results[0].geometry.location
					});

					marker.addListener('click', function() {
				    	window.open(webpage, "_self");
			        });

					marker.addListener('mouseover', function(){
						$("li#"+parkID).addClass('highlightedPark');
					});

					marker.addListener('mouseout', function(){
						 $("li#"+parkID).removeClass('highlightedPark');
					});
			        
			        return results[0].geometry.location;
				  } else {
					alert('Geocode was not successful for the following reason: ' + status);
					return 0;
				  }
				});
			}
		</script>
	</div>
	<div class="col-md-3 sidebar">
		<ul class="nav nav-sidebar">
			<% @parks.each do |park| %>
			<li id="park<%= park.id %>"><a href="<%= park_path(park) %>"><%=park.parkName%></a></li>
			<% end %>
		</ul>
	</div>

</div><!-- /.container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSaQmP0Ff65kmrv1iYc6O7Pq5SY5eclc&callback=initMap"></script>