<%= stylesheet_link_tag "parks", media:"all", "data-turbolinks-track"=> true%>
<%= javascript_include_tag "parks", "data-turbolinks-track"=> true%>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href=<%= root_path %>>ParksDB</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="col-sm-6 col-md-6 pull-left">
				<form class="navbar-form searchForm" role="search">
					<div style="display:table;" class="input-group">
						<input type="text" autofocus="autofocus" autocomplete="off" placeholder="City, State or ZIP" name="location" style="" class="form-control" value="<%= params[:location] %>">
						<span style="width: 1%;" class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</form>
			</div>
			<div class="col-sm-3 col-md-3 pull-right">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
			</div>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container-fluid">

	<div class="col-sm-12 col-md-7 pull-left">
		<div id="map"></div>
		<% if !@parks || @parks.empty? %>
			<script>
				noResultsToDisplay();
			</script>
		<% else %>
			<script>
				//create empty LatLngBounds object
				function initMap() {
					var LakeWashington = {lat: 47.623, lng: -122.260};
					var bounds = new google.maps.LatLngBounds();
					var map = new google.maps.Map(document.getElementById('map'), {
					  zoom: 11,
					  center: LakeWashington
					});
					<% if @parks %>
						<% @parks.each do |park| %>
						addMarker(map, bounds, <%= park.lattitude %>, <%= park.longitude %>, 'park<%= park.id %>', '<%= park_path(park) %>');
						<% end %>
						<% if @parks.count < 2 %>
							map.setZoom (16);
							map.setCenter(bounds.getCenter())
						<% else %>
							map.fitBounds(bounds);
						<% end %>
					<% end %>
				}	
			</script>
		<% end %>
	</div>
	<div class="col-md-5 sidebar">
		<div class="panel-group">
			<div class="panel panel-default filters">
			  <div class="panel-heading">
				<form class="form-inline filtersForm" role="filters">
					<label for="maxDistance" class="col-1 col-form-label">Maximum Distance</label>
					<input class="form-control col-1" type="number" id="maxDistance" name="maxDistance" value="<%= params[:maxDistance]%>">
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filtersPanel">Filters</button> 
				  </form>
			  </div>
			  <div id="filtersPanel" class="panel-collapse collapse">
				  <div class="panel-body">
				  <div class="row">
					<form class="form-inline">
						<span class="lb-lg">Required Ameneties</span>
						<div class="form-group pull-right" style="margin-right: 25px;">
							<input type="submit" value="Update Filters" class="form-control">
						</div>
					</form>
				  </div>
						<div class="col-md-4">
							<h4>Sports</h4>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="basketball"<% if @sportsParams && @sportsParams.include?('basketball') %> checked <% end %>>Basketball</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="baseball"<% if @sportsParams && @sportsParams.include?('baseball') %> checked <% end %>>Baseball</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="lacrosse"<% if @sportsParams && @sportsParams.include?('lacrosse') %> checked <% end %>>Lacrosse</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="tennis"<% if @sportsParams && @sportsParams.include?('tennis') %> checked <% end %>>Tennis</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="soccer"<% if @sportsParams && @sportsParams.include?('soccer') %> checked <% end %>>Soccer</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="volleyball"<% if @sportsParams && @sportsParams.include?('volleyball') %> checked <% end %>>Volleyball</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="football"<% if @sportsParams && @sportsParams.include?('football') %> checked <% end %>>Football</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="frisbee"<% if @sportsParams && @sportsParams.include?('frisbee') %> checked <% end %>>Frisbee</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="golf"<% if @sportsParams && @sportsParams.include?('golf') %> checked <% end %>>Golf</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="cricket"<% if @sportsParams && @sportsParams.include?('cricket') %> checked <% end %>>Cricket</label></div>
							<div class="checkbox"><label><input type="checkbox" name="sports[]" value="track"<% if @sportsParams && @sportsParams.include?('track') %> checked <% end %>>Track</label></div>
						</div>
						<div class="col-md-4">
							<h4>Facilities</h4>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="playground"<% if @facilitiesParams && @facilitiesParams.include?('playground') %> checked <% end %>>Playground</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="picnicshelter"<% if @facilitiesParams && @facilitiesParams.include?('picnicshelter') %> checked <% end %>>Picnic Shelter</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="picnicarea"<% if @facilitiesParams && @facilitiesParams.include?('picnicarea') %> checked <% end %>>Picnic Area</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="grill"<% if @facilitiesParams && @facilitiesParams.include?('grill') %> checked <% end %>>Grill</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="excerciseequipment"<% if @facilitiesParams && @facilitiesParams.include?('excerciseequipment') %> checked <% end %>>Excercise Equipment</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="stage"<% if @facilitiesParams && @facilitiesParams.include?('stage') %> checked <% end %>>Stage</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="recycling"<% if @facilitiesParams && @facilitiesParams.include?('recycling') %> checked <% end %>>Recycling</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="compost"<% if @facilitiesParams && @facilitiesParams.include?('compost') %> checked <% end %>>Compost</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="restrooms"<% if @facilitiesParams && @facilitiesParams.include?('restrooms') %> checked <% end %>>Restrooms</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="bikeparking"<% if @facilitiesParams && @facilitiesParams.include?('bikeparking') %> checked <% end %>>Bike Parking</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="parking"<% if @facilitiesParams && @facilitiesParams.include?('parking') %> checked <% end %>>Car Parking</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="food"<% if @facilitiesParams && @facilitiesParams.include?('food') %> checked <% end %>>Food</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="boathouse"<% if @facilitiesParams && @facilitiesParams.include?('boathouse') %> checked <% end %>>Boathouse</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="skateboard"<% if @facilitiesParams && @facilitiesParams.include?('skateboard') %> checked <% end %>>Skate Board Park</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="iceskating"<% if @facilitiesParams && @facilitiesParams.include?('iceskating') %> checked <% end %>>Ice Skating Rink</label></div>
							<div class="checkbox"><label><input type="checkbox" name="facilities[]" value="tetherball"<% if @facilitiesParams && @facilitiesParams.include?('tetherball') %> checked <% end %>>Tetherball</label></div>
						</div>
						<div class="col-md-4">
							<h4>Nature</h4>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="hiking"<% if @naturesParams && @naturesParams.include?('hiking') %> checked <% end %>>Hiking Trails</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="biking"<% if @naturesParams && @naturesParams.include?('biking') %> checked <% end %>>Bike Trails</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="dronefield"<% if @naturesParams && @naturesParams.include?('dronefield') %> checked <% end %>>Drone Field</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="garden"<% if @naturesParams && @naturesParams.include?('garden') %> checked <% end %>>Garden</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="greenhouse"<% if @naturesParams && @naturesParams.include?('greenhouse') %> checked <% end %>>Greenhouse</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="camping"<% if @naturesParams && @naturesParams.include?('camping') %> checked <% end %>>Camping</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="dogpark"<% if @naturesParams && @naturesParams.include?('dogpark') %> checked <% end %>>Dog Area</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="lake"<% if @naturesParams && @naturesParams.include?('lake') %> checked <% end %>>Lake</label></div>
							<div class="checkbox"><label><input type="checkbox" name="natures[]" value="fishing"<% if @naturesParams && @naturesParams.include?('fishing') %> checked <% end %>>Fishing</label></div>
						</div>
				  </div>
			  </div>
			</div>
		</div>
		<% if @parks && @parks.count > 0 %>
		<div class="scrollableTable">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Park Name</th>
						<th>Address</th>
						<th>Hours</th>
					</tr>
				</thead>
				<tbody data-link="row" class="rowlink">
				<% @parks.each do |park| %>
					<tr id="park<%= park.id %>">
						<td><a href="<%= park_path(park) %>"><%= park.parkname %></a></td>
						<td><%= park.parkaddress%></td>
						<td><%= park.parkhours%></td>
					</tr>
				<% end %> <!-- end @parks.each do |park| -->
				</tbody>
			</table>
		</div>
		<% end %> <!-- end if @parks.count > 0 -->
	</div>

</div><!-- /.container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSaQmP0Ff65kmrv1iYc6O7Pq5SY5eclc&callback=initMap"></script>