<%= render partial: 'layouts/parksdb_navbar' %>

<p id="notice"><%= notice %></p>
<div class="container">
	<%= link_to 'Back', :back, class: "btn btn-error" %>
	<div class="well">
	<h1><%= @park.parkname %></h1>
		<div class="row">
		<div class="col-md-6">
			<p><a href="<%= @park.parkwebsite %>">Website</a></p>
			<p><strong><%= t 'helpers.label.park.parkhours' %>: </strong><%= @park.parkhours %></p>
			<p><strong><%= t 'helpers.label.park.parkaddress'%>: </strong><%= @park.parkaddress %></p>
			<% if @park.park_office.parkhasentrancefee %>
			<strong><%= t 'helpers.label.park.parkhasentrancefee'%></strong>
			<% end %>
		</div>

		<div class="col-md-6">
			<p><strong><%= t 'helpers.label.park_office.officeaddress'%>: </strong><%= @park.park_office.officeaddress %></p>
			<p><strong><%= t 'helpers.label.park_office.officehours'%>: </strong><%= @park.park_office.officehours %></p>
			<p><strong><%= t 'helpers.label.park_office.officeemail'%>: </strong><%= @park.park_office.officeemail %></p>
			<p><strong><%= t 'helpers.label.park_office.officephone'%>: </strong><%= @park.park_office.officephone %></p>
			
		</div>
		</div>
	<div class="row">
	<div class="col-md-4">
	<h3>Amenities</h3>
		<% @sports = [] %>
		<% @park.sport.attributes.except("id", "created_at", "updated_at","park_id").each_pair do |name, value| %>
			<% if value > 0%>
			<% @sports.push(t("helpers.label.sport."+name.to_s)) %>
			<% end %>
		<% end %>
		<% if !@sports.empty? %>
			<p><strong>Sports: </strong><%= @sports.join(", ") %> </p>
		<% end %>

		<% @natures = [] %>
		<% @park.nature.attributes.except("id", "created_at", "updated_at","park_id").each_pair do |name, value| %>
			<% if value > 0%>
			<% @natures.push(t("helpers.label.nature."+name.to_s)) %>
			<% end %>
		<% end %>
		<% if !@natures.empty? %>
			<p><strong>Nature: </strong><%= @natures.join(", ") %> </p>
		<% end %>

		<% @facilities = [] %>
		<% @park.facility.attributes.except("id", "created_at", "updated_at","park_id").each_pair do |name, value| %>
			<% if value > 0%>
			<% @facilities.push(t("helpers.label.facility."+name.to_s)) %>
			<% end %>
		<% end %>
		<% if !@facilities.empty? %>
			<p><strong>Facilities: </strong><%= @facilities.join(", ") %> </p>
		<% end %>
	</div>
</div>