<%= form_for(sport) do |f| %>
  <% if sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sport.errors.count, "error") %> prohibited this sport from being saved:</h2>

      <ul>
      <% sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baseball %>
    <%= f.text_field :baseball %>
  </div>

  <div class="field">
    <%= f.label :basketball %>
    <%= f.text_field :basketball %>
  </div>

  <div class="field">
    <%= f.label :lacrosse %>
    <%= f.text_field :lacrosse %>
  </div>

  <div class="field">
    <%= f.label :tennis %>
    <%= f.text_field :tennis %>
  </div>

  <div class="field">
    <%= f.label :soccer %>
    <%= f.text_field :soccer %>
  </div>

  <div class="field">
    <%= f.label :volleyball %>
    <%= f.text_field :volleyball %>
  </div>

  <div class="field">
    <%= f.label :football %>
    <%= f.text_field :football %>
  </div>

  <div class="field">
    <%= f.label :frisbee %>
    <%= f.text_field :frisbee %>
  </div>

  <div class="field">
    <%= f.label :golf %>
    <%= f.text_field :golf %>
  </div>

  <div class="field">
    <%= f.label :cricket %>
    <%= f.text_field :cricket %>
  </div>

  <div class="field">
    <%= f.label :track %>
    <%= f.text_field :track %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
