<p id="notice"><%= notice %></p>

<p>
  <strong>Baseball:</strong>
  <%= @sport.baseball %>
</p>

<p>
  <strong>Basketball:</strong>
  <%= @sport.basketball %>
</p>

<p>
  <strong>Lacrosse:</strong>
  <%= @sport.lacrosse %>
</p>

<p>
  <strong>Tennis:</strong>
  <%= @sport.tennis %>
</p>

<p>
  <strong>Soccer:</strong>
  <%= @sport.soccer %>
</p>

<p>
  <strong>Volleyball:</strong>
  <%= @sport.volleyball %>
</p>

<p>
  <strong>Football:</strong>
  <%= @sport.football %>
</p>

<p>
  <strong>Frisbee:</strong>
  <%= @sport.frisbee %>
</p>

<p>
  <strong>Golf:</strong>
  <%= @sport.golf %>
</p>

<p>
  <strong>Cricket:</strong>
  <%= @sport.cricket %>
</p>

<p>
  <strong>Track:</strong>
  <%= @sport.track %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
