<%= form_for(park_office) do |f| %>
  <% if park_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park_office.errors.count, "error") %> prohibited this park_office from being saved:</h2>

      <ul>
      <% park_office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :officeaddress %>
    <%= f.text_field :officeaddress %>
  </div>

  <div class="field">
    <%= f.label :officehours %>
    <%= f.text_field :officehours %>
  </div>

  <div class="field">
    <%= f.label :officeemail %>
    <%= f.text_field :officeemail %>
  </div>

  <div class="field">
    <%= f.label :officephone %>
    <%= f.text_field :officephone %>
  </div>

  <div class="field">
    <%= f.label :parkhasentrancefee %>
    <%= f.check_box :parkhasentrancefee %>
  </div>

  <% if park_office.new_record? %>
    <div class="field">
      <%= f.hidden_field :park_id, :value => params[:park_id] %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
