<p id="notice"><%= notice %></p>

<h1>Park Offices</h1>

<table>
  <thead>
    <tr>
      <th>Officeaddress</th>
      <th>Officehours</th>
      <th>Officeemail</th>
      <th>Officephone</th>
      <th>Parkhasentrancefee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @park_offices.each do |park_office| %>
      <tr>
        <td><%= park_office.officeAddress %></td>
        <td><%= park_office.officeHours %></td>
        <td><%= park_office.officeEmail %></td>
        <td><%= park_office.officePhone %></td>
        <td><%= park_office.parkHasEntranceFee %></td>
        <td><%= link_to 'Show', park_office %></td>
        <td><%= link_to 'Edit', edit_park_office_path(park_office) %></td>
        <td><%= link_to 'Destroy', park_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Park Office', new_park_office_path %>
