<p id="notice"><%= notice %></p>

<p>
  <strong>Officeaddress:</strong>
  <%= @park_office.officeaddress %>
</p>

<p>
  <strong>Officehours:</strong>
  <%= @park_office.officehours %>
</p>

<p>
  <strong>Officeemail:</strong>
  <%= @park_office.officeemail %>
</p>

<p>
  <strong>Officephone:</strong>
  <%= @park_office.officephone %>
</p>

<p>
  <strong>Parkhasentrancefee:</strong>
  <%= @park_office.parkhasentrancefee %>
</p>

<%= link_to 'Edit', edit_park_office_path(@park_office) %> |
<%= link_to 'Back', park_offices_path %>
