<p id="notice"><%= notice %></p>

<h1>Facilities</h1>

<table>
  <thead>
    <tr>
      <th>Playground</th>
      <th>Picnicshelter</th>
      <th>Picnicarea</th>
      <th>Grill</th>
      <th>Excerciseequipment</th>
      <th>Stage</th>
      <th>Recycling</th>
      <th>Compost</th>
      <th>Restroom</th>
      <th>Bikeparking</th>
      <th>Parking</th>
      <th>Food</th>
      <th>Boathouse</th>
      <th>Skateboarding</th>
      <th>Iceskating</th>
      <th>Tetherball</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.playground %></td>
        <td><%= facility.picnicShelter %></td>
        <td><%= facility.picnicArea %></td>
        <td><%= facility.grill %></td>
        <td><%= facility.excerciseEquipment %></td>
        <td><%= facility.stage %></td>
        <td><%= facility.recycling %></td>
        <td><%= facility.compost %></td>
        <td><%= facility.restroom %></td>
        <td><%= facility.bikeParking %></td>
        <td><%= facility.parking %></td>
        <td><%= facility.food %></td>
        <td><%= facility.boathouse %></td>
        <td><%= facility.skateBoarding %></td>
        <td><%= facility.iceSkating %></td>
        <td><%= facility.tetherball %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path %>
