<p id="notice"><%= notice %></p>

<p>
  <strong>Playground:</strong>
  <%= @facility.playground %>
</p>

<p>
  <strong>Picnicshelter:</strong>
  <%= @facility.picnicShelter %>
</p>

<p>
  <strong>Picnicarea:</strong>
  <%= @facility.picnicArea %>
</p>

<p>
  <strong>Grill:</strong>
  <%= @facility.grill %>
</p>

<p>
  <strong>Excerciseequipment:</strong>
  <%= @facility.excerciseEquipment %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @facility.stage %>
</p>

<p>
  <strong>Recycling:</strong>
  <%= @facility.recycling %>
</p>

<p>
  <strong>Compost:</strong>
  <%= @facility.compost %>
</p>

<p>
  <strong>Restroom:</strong>
  <%= @facility.restroom %>
</p>

<p>
  <strong>Bikeparking:</strong>
  <%= @facility.bikeParking %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @facility.parking %>
</p>

<p>
  <strong>Food:</strong>
  <%= @facility.food %>
</p>

<p>
  <strong>Boathouse:</strong>
  <%= @facility.boathouse %>
</p>

<p>
  <strong>Skateboarding:</strong>
  <%= @facility.skateBoarding %>
</p>

<p>
  <strong>Iceskating:</strong>
  <%= @facility.iceSkating %>
</p>

<p>
  <strong>Tetherball:</strong>
  <%= @facility.tetherball %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
