<%= form_for(nature) do |f| %>
  <% if nature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nature.errors.count, "error") %> prohibited this nature from being saved:</h2>

      <ul>
      <% nature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hiking %>
    <%= f.text_field :hiking %>
  </div>

  <div class="field">
    <%= f.label :biking %>
    <%= f.text_field :biking %>
  </div>

  <div class="field">
    <%= f.label :droneField %>
    <%= f.text_field :droneField %>
  </div>

  <div class="field">
    <%= f.label :garden %>
    <%= f.text_field :garden %>
  </div>

  <div class="field">
    <%= f.label :greenhouse %>
    <%= f.text_field :greenhouse %>
  </div>

  <div class="field">
    <%= f.label :camping %>
    <%= f.text_field :camping %>
  </div>

  <div class="field">
    <%= f.label :dogPark %>
    <%= f.text_field :dogPark %>
  </div>

  <div class="field">
    <%= f.label :lake %>
    <%= f.text_field :lake %>
  </div>

  <div class="field">
    <%= f.label :fishing %>
    <%= f.text_field :fishing %>
  </div>

  <% if nature.new_record? %>
    <div class="field">
      <%= f.hidden_field :park_id, :value => params[:park_id] %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
