<p id="notice"><%= notice %></p>

<h1>Natures</h1>

<table>
  <thead>
    <tr>
      <th>Hiking</th>
      <th>Biking</th>
      <th>Dronefield</th>
      <th>Garden</th>
      <th>Greenhouse</th>
      <th>Camping</th>
      <th>Dogpark</th>
      <th>Lake</th>
      <th>Fishing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @natures.each do |nature| %>
      <tr>
        <td><%= nature.hiking %></td>
        <td><%= nature.biking %></td>
        <td><%= nature.droneField %></td>
        <td><%= nature.garden %></td>
        <td><%= nature.greenhouse %></td>
        <td><%= nature.camping %></td>
        <td><%= nature.dogPark %></td>
        <td><%= nature.lake %></td>
        <td><%= nature.fishing %></td>
        <td><%= link_to 'Show', nature %></td>
        <td><%= link_to 'Edit', edit_nature_path(nature) %></td>
        <td><%= link_to 'Destroy', nature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nature', new_nature_path %>
