<p id="notice"><%= notice %></p>

<p>
  <strong>Hiking:</strong>
  <%= @nature.hiking %>
</p>

<p>
  <strong>Biking:</strong>
  <%= @nature.biking %>
</p>

<p>
  <strong>Dronefield:</strong>
  <%= @nature.droneField %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @nature.garden %>
</p>

<p>
  <strong>Greenhouse:</strong>
  <%= @nature.greenhouse %>
</p>

<p>
  <strong>Camping:</strong>
  <%= @nature.camping %>
</p>

<p>
  <strong>Dogpark:</strong>
  <%= @nature.dogPark %>
</p>

<p>
  <strong>Lake:</strong>
  <%= @nature.lake %>
</p>

<p>
  <strong>Fishing:</strong>
  <%= @nature.fishing %>
</p>

<%= link_to 'Edit', edit_nature_path(@nature) %> |
<%= link_to 'Back', natures_path %>
